/* RESET */
*{
    margin: 0;
    padding: 0;
}

/* LAYOUT */
body{
    display: grid;
    grid-template-areas:
            "h h h h"
            "m m m n"
            "f f f f";
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 15vh 1fr 15vh;
    width: 100vw;
    height: 100vh;
}

nav{
    grid-area: n;
    background-color: #EFEFEF;
    /* padding: 2rem; */
    display : flex;
    flex-flow: column nowrap;
}   

button{
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #72c3dc;
    color: #FFF;
    font-size: 16px;
    min-width: 42px;
    min-height:42px;
    max-height:42px;
    flex: 1 0 auto;
}

main{
    grid-area: m;
}

.numberContainer{
    display: flex;
    flex-flow: row wrap;
    /* align-items: center;
    justify-content: center; */
}

.square{
    background-color: yellow;
    font-size: 2em;
    text-align: center;
    color: #FFF;
    width: calc(100vw/4);
    height: calc(70vh/3);
    vertical-align: middle;
    line-height: calc(70vh/3);
    flex: 1 1 auto;
}

/* HEADER */
header{
    grid-area: h;
    background-color: #FFF;
    text-align: center;
    vertical-align: middle;
    line-height: 15vh;
    /* font-size: calc(16px + (2em-16)*(100vw - 100px)/(1080-100)); */
}

/* FOOTER */
footer{
    grid-area: f;
    background-color: #EFEFEF;
    text-align: center;
    vertical-align: middle;
    line-height: 15vh;
    /* font-size: calc(16px + (1em-16)*(100vw - 100px)/(1080-100)); */
}